:root {
    --brand-blue: $brand-blue; 
    --white: $white; 
    --cta-green: $cta-green; 
    --accent-brown: $accent-brown; 
    --text-gray: $text-gray; 
    --hover-blue: $hover-blue;

    font-family: 'Inter', sans-serif;
}