:root {
    font-family: 'Inter', sans-serif;
    color: $text-gray;
}

section, html, body {
    color: $text-gray;
    position: relative;
}

.py-20 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.blue-bg {
    background-color: $brand-blue;
}

.rounded-bg {
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}

.blue-bg {
    * {
        .h1, .h2, .h3, .h4, .h5,
        h1, h2, h3, h4, h5 {
            color: $cta-green !important;
        }

        p {
            color: $white !important;
        }
    }
}