/* Hero Banner - blocks/lazyblock-renomax-hero-banner */

.hero {
    &-banner-section {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(105, 105, 105, 0.75); /* Overlay color */
            z-index: 1;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
        color: $white;
        
        .btn-secondary {
            color: $white;
        }
    }

}

/* Icon Grid - blocks/lazyblock-renomax-icon-grid */
.grid-icons {
    .icon {
        width: 120px;
        height: 120px;
    }
}

/* Carousel - blocks/lazyblock-renomax-carousel */
.swiper {
    padding-bottom: 60px;
}

.swiper-slide {
    img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }
}

.swiper-horizontal {
    .swiper-button-prev,
    .swiper-button-next {
        right: 2rem;
        left: unset;
        bottom: 20px;
        top: unset;
        width: 40px;
        height: 40px;
        background-color: $cta-green;
        padding: 10px;
        border-radius: 50%;
        color: $white;
        transition: 0.5s all ease-in-out;

        .swiper-navigation-icon {
            transition: 0.3s all ease-in-out;
        }

        &:hover {
            background-color: $hover-blue;

            .swiper-navigation-icon {
                transform: scale(1.1);
            }
        }
    }

    .swiper-button-prev {
        right: 5.5rem;

        &:hover {
            .swiper-navigation-icon {
                transform: rotate(180deg) scale(1.1);
            }
        }
    }
}

.fullcard {

    &__container {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    &__wrapper {
        position: relative;
        flex: 1;
        transition: all 0.5s ease;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        height: 40vh;
        min-height: 400px;
        min-width: 0;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.5s ease;
        }

        &-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0);
            text-align: left;
            z-index: 2;
            transition: all 0.4s ease;
            visibility: visible;
            opacity: 1;

            > * {
                color: $white;
                z-index: 5;
                position: relative;
            }

            .card-text {
                visibility: hidden;
                opacity: 0;
                display: none;
            }


            &::before {
                content: '';
                height: 100%;
                width: 100%;
                background: rgba($brand-blue, 0.8);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        &.is-hovered {
            flex: 3;
            z-index: 3;
            min-width: 40% !important;

            .fullcard__img {
                transform: scale(1.05);
            }

            .card-text { 
                visibility: visible;
                opacity: 1;
                display: block;
            }
        }

        &.is-dimmed {
            flex: 0.5;
            z-index: 1;
            min-width: 30% !important;

            .fullcard__wrapper-content {
                .card-text {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        // Directional scaling at edges
        &:first-child.is-hovered { 
            .fullcard__img {
                object-position: left center;
            }
        }
        &:last-child.is-hovered { 
            .fullcard__img {
                object-position: right center;
            }
        }
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column;
            height: auto;
    
            .fullcard__wrapper {
                flex: none;
                height: 250px;
    
                &:hover {
                    flex: none;
                }
            }
        }
    }
}
